<!-- Navbar Dark -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent z-index-3 py-3">
  <div class="container">
    <a
      class="navbar-brand text-white"
      href=""
      rel="tooltip"
      title="Designed and Coded by Creative Tim"
      data-placement="bottom"
      target="_blank"
    >
      Material Kit
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navigation"
      aria-controls="navigation"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav navbar-nav-hover mx-auto">
        <li class="nav-item px-3">
          <a class="nav-link text-white opacity-8"> Pages </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link text-white opacity-8"> Utilities </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link text-white opacity-8"> Blocks </a>
        </li>

        <li class="nav-item px-3">
          <a class="nav-link text-white opacity-8"> Docs </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <button class="btn bg-gradient-primary mb-0">Buy Now</button>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
