<div class="video_feed">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/mrIOCFtJ-1o"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>

<!-- <video
  style="
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  "
  playsinline="playsinline"
  autoplay="autoplay"
  muted="muted"
  loop="loop"
>
  <source
    src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4"
    type="video/mp4"
  />
</video> -->
