{% extends 'main.html' %} {% block content %}
<p>About Page</p>
<img
  src="https://images-na.ssl-images-amazon.com/images/S/influencer-profile-image-prod/logo/ebpmantechreviews_1635468019698_original._CR18,0,1930,1930_._FMjpg_.png"
  height="100"
  width="100"
/>
<p>
  Serving an audience of over 170k subscribers weekly gadget reviews for 11
  years.
</p>
<p>
  From tablets to scooters EBPman Tech Reviews will continue to review the
  hottest new devices to hit the market.
</p>
{% endblock content %}
