{% extends 'main.html' %} {% block content %}
<h1>About Page</h1>
<img
  src="https://images-na.ssl-images-amazon.com/images/S/influencer-profile-image-prod/logo/ebpmantechreviews_1635468019698_original._CR18,0,1930,1930_._FMjpg_.png"
  height="100"
  width="100"
/>
<p>
  Welcome to my channel. My goal is to help you with your purchasing decision
  and how to use the latest in tech and gadgets. I review phones, smart watches,
  headphones, earbuds, projectors, tv, speakers, smart speakers, cameras,
  laptops, tablets . 3d printers and create dozens of how to videos. I posts
  videos a weekly on new product reviews and tips and tricks. ►BUSINESS
  INQUIRES◄ If you have a product that you would like reviewed on this channel
  just contact me at ebpmanreviews@gmail.com
  https://ebpmantechreviews.rivyt.com/ We participate in the Amazon Services LLC
  Associates Program, an affiliate advertising program designed to provide a
  means for sites to earn advertising fees by advertising and linking to
  amazon.com. We participate in many other affiliate programs as well.
</p>
{% endblock content %}
