{% extends 'main.html' %} {% block content %}

<body class="contact-us-simple bg-gray-200">
  <section class="position-relative">
    <div
      class="page-header min-vh-50"
      style="background-image: url('../assets/img/bg3.jpg')"
      loading="lazy"
    >
      <span class="mask bg-gradient-info"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center mx-auto">
            <h2 class="text-white mb-3">Looking to work with us?</h2>
            <p class="lead text-white mb-6">
              We always want to hear from you! Let us know if there is anything
              that we can help you with.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6 mb-4">
    <div class="container">
      <div class="row mt-sm-0 mt-5">
        <div class="col-lg-3 col-md-4 position-relative ms-lg-auto">
          <div class="p-3 text-center border-right-after">
            <i class="material-icons text-gradient text-info text-5xl mb-3"
              >email</i
            >
            <h6 class="mb-0">Email</h6>
            <p class="text-dark font-weight-normal">hello@creative-tim.com</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 position-relative">
          <div class="p-3 text-center border-right-after">
            <i class="material-icons text-gradient text-info text-5xl mb-3"
              >call</i
            >
            <h6 class="mb-0">Phone</h6>
            <p class="text-dark font-weight-normal">+1(424) 535 3523</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 me-lg-auto">
          <div class="p-3 text-center">
            <i class="material-icons text-gradient text-info text-5xl mb-3"
              >contacts</i
            >
            <h6 class="mb-0">Contact</h6>
            <p class="text-dark font-weight-normal">Andrew Samian</p>
          </div>
        </div>
      </div>
    </div>
    <section class="py-md-7 py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8 col-10 mx-auto text-center">
            <div class="mb-md-5">
              <h3>Contact us</h3>
              <p>
                For further questions, including partnership opportunities,
                please email hello@creative-tim.com or contact using our contact
                form.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="card card-plain">
              <form class="form" action="" method="POST">
                {% csrf_token %}
                <form action="" method="post">
                  {% csrf_token %} {{ form.as_p }}
                  <input type="submit" value="Submit" />
                </form>
                <!-- <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group input-group-static mb-4">
                        <label>First Name</label>
                        <input
                          id="first_name"
                          type="text"
                          class="form-control"
                          placeholder="First Name"
                        />
                        <span class="input-group-text"
                          ><i class="material-icons">person</i></span
                        >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group input-group-static mb-4">
                        <label>Last Name</label>
                        <input
                          id="last_name"
                          type="text"
                          class="form-control"
                          placeholder="Last Name"
                        />
                        <span class="input-group-text"
                          ><i class="material-icons">person</i></span
                        >
                      </div>
                    </div>
                    <div class="col-md-6 ps-md-2">
                      <div class="input-group input-group-static mb-4">
                        <label>Email</label>
                        <input
                          id="email_address"
                          type="email"
                          class="form-control"
                          placeholder="Email"
                        />
                        <span class="input-group-text"
                          ><i class="material-icons">email</i></span
                        >
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-4 mt-md-0 mt-4">
                    <div class="input-group input-group-static mb-4">
                      <label>What can we do to help you?</label>
                      <textarea
                        name="message"
                        class="form-control"
                        id="message"
                        rows="6"
                        placeholder="Describe your problem in at least 250 characters"
                      ></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <button
                        type="submit"
                        value="submit"
                        class="btn bg-gradient-info mt-4"
                      >
                        Send Message
                      </button>
                    </div>
                  </div>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- ---- START FOOTER 4 dark w/ 2 cols ---- -->
  <footer class="footer py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-3 text-start my-auto">
          <p class="mb-0 text-dark text-sm">
            Copyright ©
            <script>
              document.write(new Date().getFullYear());
            </script>
            Material Design by Creative Tim.
          </p>
        </div>
        <div class="col-lg-5 col-md-8 ms-auto text-end">
          <ul class="nav flex-row ms-n3 align-items-center mt-4 mt-sm-0">
            <li class="nav-item ms-auto">
              <a
                class="nav-link text-dark opacity-8"
                href="https://www.creative-tim.com"
                target="_blank"
              >
                Home
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-dark opacity-8"
                href="https://www.creative-tim.com/presentation"
                target="_blank"
              >
                About
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-dark opacity-8"
                href="https://www.creative-tim.com/blog"
                target="_blank"
              >
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-dark opacity-8"
                href="https://www.creative-tim.com"
                target="_blank"
              >
                Services
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- ---- END FOOTER 4 dark w/ 2 cols ---- -->
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
  <script
    src="../assets/js/core/bootstrap.min.js"
    type="text/javascript"
  ></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
  <script src="../assets/js/plugins/typedjs.js"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
  <script src="../assets/js/plugins/parallax.min.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script
    src="../assets/js/plugins/nouislider.min.js"
    type="text/javascript"
  ></script>
  <!--  Plugin for the blob animation -->
  <script
    src="../assets/js/plugins/anime.min.js"
    type="text/javascript"
  ></script>
  <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script
    src="../assets/js/material-kit-pro.min.js?v=3.0.3"
    type="text/javascript"
  ></script>
  <script>
    if (document.getElementsByClassName("page-header")) {
      window.onscroll = debounce(function () {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector(".page-header");
        var oVal = window.scrollY / 3;
        bgParallax.style.transform = "translate3d(0," + oVal + "px,0)";
      }, 6);
    }
  </script>
</body>

{% endblock content %}
