{% extends 'main.html' %} {% block content %}
<div
  class="page-header min-vh-80"
  style="
    background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80');
  "
>
  <span class="mask bg-gradient-dark opacity-6"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="text-center">
          <h1 class="text-white">Techreviews</h1>
          <h3 class="text-white">on Youtube</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <div class="container">
    <div class="section text-center">
      <h2 class="title">Latest Review</h2>
      {% include 'video_feed.html'%}
    </div>
  </div>
</div>

{% endblock content %}
